body{
    margin: 0px;
    padding: 0px;
    background: #f7f0e9;
    transition: 0.6s;
}
#container{
    display: flex;
    flex-direction: column;    
}
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px; 
}
.switch input{
    display: none;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    border-radius: 34px;
    transition: .4s;
}
.slider::before{
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    left: 4px;
    bottom: 4px;
    background: #fff;
    border-radius: 50%;
    transition: 0.4s;
}
    input:checked + .slider{
        background: #b892ff;

    }
    input:checked + .slider::before{
        transform: translateX(26px);
    }

    .dark-mode{
        background: #0b0a14;
    }


.card{
    background-color: #222;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#btnDelete{
    margin: -6px;
}

@media(max-width:500px){
    h1{
        font-size: 20px;
    }
}